body {
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
}

/* Top Menu */
.top-menu {
    display: flex;
    justify-content: center;
    padding: 9px;
    background-color: #F1F1F1;
}
.container {
    width: 1150px;
    display: flex;
    justify-content: space-between;
}
.phones {
    display: flex;
    align-items: center;
}
.phones img {
    padding-right: 5px;
}
.phones span {
    padding-right: 60px;
    color: #000;
    font-size: 12px;
    font-family: Open Sans;
}
.right-content {
    display: flex;
    align-items: center;
}
.right-content ul, 
.right-content li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.right-content ul {
    display: flex;
}
.right-content a {
    display: block;
    padding-left: 60px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-size: 11px;
    font-family: Open Sans;
}

/* Main menu */
.menu {
    display: flex;
    justify-content: center;
    background-color: #fff;
}
.menu .container {
    width: 1150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.menu .container .right {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .search input{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #DFDFDF;
    border-radius: 5px;
    height: 50px;
    width: 670px;
    background: url(../images/search.png) no-repeat 95%;
    background-origin:content-box;
    cursor: pointer;
}
::placeholder {
    font-size:14px;
    font-family: Open Sans;
    letter-spacing: 0px;
    color: #000000;
    padding:10px;
     /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-size:14px;
    font-family: Open Sans;
    letter-spacing: 0px;
    color: #000000;
    padding:10px;
}
::-ms-input-placeholder { /* Microsoft Edge */
    font-size:14px;
    font-family: Open Sans;
    letter-spacing: 0px;
    color: #000000;
    padding:10px;
}

.menu-login {
    padding-left: 70px;
    list-style:none; 
    font-family: Open Sans;
    font-size: 16px;
}
.menu-login li a {
    color:#333; 
    text-decoration:none; 
    display: flex;
    align-items: center;
}

.menu-login li a img{
    padding-left: 5px;
}

.menu-login li a:hover { 
    font-weight: bold;
}
.menu-login li ul {
    position: absolute;  
    display: none;
    margin-top: 2px;
    border-radius: 5px;
    margin-left: -97px;
    box-shadow: 0px 0px 6px #00000033;
    background-color: #fff;
    padding:15px;
} 
.menu-login,
.menu-login li:hover ul, 
.menu-login li.over ul {
    display: block;
}
.menu-login li ul li { 
    display: block;
    padding: 15px;
    font-size: 15px;
}

.shopping {
    padding-left: 70px;
    cursor: pointer;
}

.shopping::after {
    content: "+50";
    height: 24px;
    width: 24px;
    border-radius: 12px;
    background: #000;
    position: absolute;
    color: #fff;
    font-family: Open Sans;
    font-size: 11px;
    display: flex;
    margin-top: -23px;
    margin-left: 10px;
    align-items: center;
}
